
@{
    ViewBag.Title = "Cadastro";
}

<h2>Cadastro</h2>

<form action="/aluno/salvar" method="post">
        <div class="form-group">

            <label for="id-nome"> Nome</label>
            <input type="text"name="nome" id="id-nome" class="form-control"/>
        </div>
                 
        <div class="form-group">
            <label for="id-nome"> Data Nascimento</label>
            <input type="text" name="data" id="id-data" class="form-control" />

        </div>
        <div>

            <label for="id-nome"> Salario</label>
            <input type="text" name="salario" id="id-salario" class="form-control" />
        </div>
    <br>

        <input type="submit" value="Cadastrar" class="btn btn-primary" /> 


</form>

